.venv311
.env
__pycache__/
*.py[cod]
.DS_Store
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
.python-version
build/
dist/
*.egg-info/
*.log
.cache/
siamese_mcp/.venv/
siamese_mcp/.env
siamese_mcp/.cache/
siamese_mcp_client/.venv/
siamese_mcp_client/.env
siamese_mcp_client/.cache/
siamese_mcp/data/reference/*
!siamese_mcp/data/reference/.gitkeep
siamese_mcp_uncomplete/.venv/
siamese_mcp_uncomplete/.env
siamese_mcp_uncomplete/.cache/
siamese_mcp_client_umcomplete/.venv/
siamese_mcp_client_umcomplete/.env
siamese_mcp_client_umcomplete/.cache/
siamese_mcp_uncomplete/data/reference/*
!siamese_mcp_uncomplete/data/reference/.gitkeep
agent/.venv/
agent/.env
agent/.cache/   